<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>



THIS IS EX 2
    {{ data }}

<a href="{% url 'cbv:go-you' %}" >rdt</a>

<br>

<a href="{% url 'cbv:redirect-task' pk=3 %}" >just you</a>

<br>


{{ car }}

<img src="{{ image }}" alt="Car Photo">

<br>

{{ image }}
{{ car.photo.path }}
{{ car.photo.url }}
<img src="{{ car.photo.url }}" alt="Car Photo">


<img src="{}" >



<br>
<br>
<br>
<br>
<br>
<br>

<a href="{% url 'cbv:gradient' %}" > GRADIENT BACKGROUND </a>

<a href="{% url 'cbv:full-gradient' %}" > FULL GRADIENT BACKGROUND </a>

</body>
</html>