<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gradient TEST</title>

    <style>
        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-image: linear-gradient( to bottom right, rebeccapurple, red, rebeccapurple);
        }


    </style>

</head>
<body>

<p> DIAGONAL </p>
<div class="container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>

<p> oklab </p>
<div class="oklab-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>


<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>

<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>
<p> hsl </p>
<div class="hsl-container" >
    <p> CONTENT LIES HERE !!! </p>
</div>
<br>
<br>

</body>





</html>